<%- partial('_partial/header1', null, {cache: !config.relative_link}) %>

  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Hero Section -->
    <div class="container space-2 space-top-md-5 space-top-lg-3">
      <div class="w-lg-80 text-center mx-lg-auto">
        <div class="mb-11">
          <h1 class="display-4 font-weight-semi-bold">关于我们</h1>
          <p class="lead font-weight-normal">水杉致力于开发最好的工作流工具，帮助用户实现业务流程自动化。</p>
        </div>
      </div>

      <!-- Stats Section -->
      <div class="container space-top-0 space-bottom-1 space-bottom-lg-1">
        <div class="row justify-content-lg-center" style="color: mediumblue;">
          <div class="col-sm-4 col-lg-3 mb-7 mb-sm-0">
            <!-- Stats -->
            <div class="text-center">
              <span class="d-block h2 font-weight-semi-bold text-uppercase mb-0">10年+</span>
              <span class="text-secondary">行业经验</span>
            </div>
            <!-- End Stats -->
          </div>

          <div class="col-sm-4 col-lg-3 mb-7 mb-sm-0">
            <!-- Stats -->
            <div class="text-center">
              <span class="d-block h2 font-weight-semi-bold text-uppercase mb-0">50,000+</span>
              <span class="text-secondary">最终用户</span>
            </div>
            <!-- End Stats -->
          </div>

          <div class="col-sm-4 col-lg-3">
            <!-- Stats -->
            <div class="text-center">
              <span class="d-block h2 font-weight-semi-bold text-uppercase mb-0">123,456,789</span>
              <span class="text-secondary">已发起的流程数量</span>
            </div>
            <!-- End Stats -->
          </div>
        </div>
      </div>
      <!-- End Stats Section -->

      <!-- Gallery Section -->
      <div class="row mx-n2">
        <div class="col-md px-2 mb-3">
          <div class="height-250 bg-img-hero" style="background-image: url(images/480x320/img31.jpg);"></div>
        </div>
        <div class="col-md-3 px-2 mb-3">
          <div class="height-250 bg-img-hero" style="background-image: url(images/480x320/img38.jpg);"></div>
        </div>
        <div class="col-md px-2 mb-3">
          <div class="height-250 bg-img-hero" style="background-image: url(images/480x320/img34.jpg);"></div>
        </div>


      </div>
      <!-- End Gallery Section -->
    </div>
    <!-- End Hero Section -->



    <!-- About Section -->
    <div class="container space-2 space-lg-1">
      <div class="row justify-content-lg-between">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h2 class="font-weight-semi-bold">APortal工作流框架</h2>
        </div>
        <div class="col-lg-7">
          <p>上海水杉网络科技有限公司成立于2012年，我们专注于企业级工作流产品的研发和实施。</p>
          <p>
          APortal &reg; 平台是水杉基于SharePoint平台研发的企业级工作流框架。我们帮助企业客户在基于Office 365部署的SharePoint Online站点或企业内部的SharePoint服务器上搭建工作流平台并实施业务流程自动化系统。</p>
          <p>我们和客户建立长期持久的合作关系，帮助客户不断提升工作效率，整合企业对内对外的各种业务流程，也使得客户在Office 365，SharePoint和SharePoint Online平台上的投资回报得以最大化。
          </p>
        </div>
      </div>

      <div class="row justify-content-lg-between">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h2 class="font-weight-semi-bold">企业资质</h2>
        </div>
        <div class="col-lg-7">
          <p>
            上海市科学技术委员会认定的『上海市高新技术企业』<br/>
            上海市软件行业协会认定的『软件企业』
          </p>
        </div>
      </div>

    </div>
    <!-- End About Section -->

  </main>
  <!-- ========== END MAIN ========== -->
<%- partial('_partial/footer1', null, {cache: !config.relative_link}) %>
