<%- partial('_partial/header1', null, {cache: !config.relative_link}) %>

  <!-- ========== MAIN ========== -->
  <main id="content" role="main">

    <!-- Title -->
    <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-6">
      <h2>Source, enterprise, and more than 33,000 of you</h2>
    </div>
    <!-- End Title -->

    <!-- Clients Logos -->
    <div class="container">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <span class="btn btn-xs btn-soft-success btn-pill mb-2">Help</span>
        <h2 class="text-primary">不负所<span class="font-weight-semi-bold">托</span></h2>
      </div>
      <!-- End Title -->

      <div class="row justify-content-center text-center">
        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="images/logos/Microsoft.png" alt="Image Description">
        </div>
        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="images/logos/LVMH.png" alt="Image Description">
        </div>
        



        <div class="w-100"></div>

        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="images/logos/Roquette.png" alt="Image Description">
        </div>
        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="images/logos/Estra.png" alt="Image Description">
        </div>
        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="images/logos/k11.png" alt="Image Description">
        </div>
        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="images/logos/SKY.png" alt="Image Description">
        </div>

        <div class="w-100"></div>

        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="images/logos/Brother.png" alt="Image Description">
        </div>
        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="images/logos/insigma.png" alt="Image Description">
        </div>
        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="images/logos/新世界百货.png" alt="Image Description">
        </div>
        
        <div class="col-4 col-md-2 mb-8 mb-md-0">
          <img class="u-clients" src="images/logos/国泰君安.png" alt="Image Description">
        </div>

        <div class="w-100"></div>


        <div class="col-4 col-md-2 mb-8 mb-md-0">
          <img class="u-clients" src="images/logos/ECM.png" alt="Image Description">
        </div>
        <div class="col-4 col-md-2">
          <img class="u-clients" src="images/logos/HITACHI.png" alt="Image Description">
        </div>
      


        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="images/logos/interplex.png" alt="Image Description">
        </div>
        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="images/logos/coopertires.png" alt="Image Description">
        </div>
        <div class="col-4 col-md-2 mb-8">
          <img class="u-clients" src="images/logos/Career.png" alt="Image Description">
        </div>

      </div>
    </div>
    <!-- End Clients Logos -->

    <!-- Counters -->
    <div class="container">
      <div class="row text-center space-2 space-md-3">
        <div class="col-sm-6 col-lg-4 mb-7 mb-lg-0">
          <div class="display-4 font-size-md-down-5 text-primary font-weight-normal">
            10年
            <span class="h3 text-success align-middle font-weight-semi-bold">+</span>
          </div>
          <h4 class="h6 text-secondary">行业经验</h4>
        </div>

        <div class="col-sm-6 col-lg-4 mb-7 mb-lg-0">
          <div class="display-4 font-size-md-down-5 text-primary font-weight-normal">100
            <span class="h3 text-success align-middle font-weight-semi-bold">+</span></div>
          <h4 class="h6 text-secondary">项目</h4>
        </div>

        <div class="col-sm-6 col-lg-4 mb-7 mb-lg-0">
          <div class="display-4 font-size-md-down-5 text-primary font-weight-normal">
            50,000
            <span class="h3 text-success align-middle font-weight-semi-bold">+</span>
          </div>
          <h4 class="h6 text-secondary">最终用户</h4>
        </div>



      </div>

    </div>
    <!-- End Counters -->

  </main>
  <!-- ========== END MAIN ========== -->
<%- partial('_partial/footer1', null, {cache: !config.relative_link}) %>
