 <!-- ========== MAIN CONTENT ========== -->
 <main id="content" role="main">
   <!-- Hero Section -->
   <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll"
   data-options='{direction: "normal"}'>

<!-- Content -->
<div class="container position-relative space-2 space-top-md-3 space-bottom-md-0 z-index-2">
  <div class="w-lg-80 text-center mx-lg-auto">
    <div class="mb-11">
      <h1 class="h2 font-weight-medium mb-3">关于我们</h1>
      <p class="text-left" style="text-indent: 34px;">上海水杉网络科技有限公司成立于2012年，我们专注于企业级工作流产品的研发和实施。APortal平台是水杉基于SharePoint产品研发的企业级工作流平台。基于APortal平台，我们帮助企业客户在基于Office 365部署的SharePoint Online站点或企业内部的SharePoint服务器上搭建工作流平台和业务流程系统。我们和客户建立长期持久的合作关系，帮助客户不断提升工作效率，整合企业对内对外的各种业务流程，使得客户在Office 365，SharePoint和SharePoint Online平台上的投资回报得以最大化。</p>
    </div>
  </div>
</div>
<!-- End Content -->
</div>
<!-- End Hero Section -->

<!-- Contacts Info Section -->
<div class="clearfix space-0">
<div class="row no-gutters">
  <div class="col-sm-6 col-lg-4 u-ver-divider u-ver-divider--none-lg">
    <!-- Contacts Info -->
    <div class="text-center p-5">
      <figure id="icon8" class="svg-preloader ie-height-56 max-width-8 mx-auto mb-3">
        <img class="js-svg-injector" src="<%= url_for('images/icons/icon-8.svg') %>" alt="SVG"
             data-parent="#icon8">
      </figure>
      <h2 class="h6 mb-0">地址</h2>
      <p class="mb-0">上海市浦东新区新金桥路 1122 号 2311</p>
    </div>
    <!-- End Contacts Info -->
  </div>

  <div class="col-sm-6 col-lg-4 u-ver-divider u-ver-divider--none-lg">
    <!-- Contacts Info -->
    <div class="text-center p-5">
      <figure id="icon15" class="svg-preloader ie-height-56 max-width-8 mx-auto mb-3">
        <img class="js-svg-injector" src="<%= url_for('images/icons/icon-15.svg') %>" alt="SVG"
             data-parent="#icon15">
      </figure>
      <h3 class="h6 mb-0">邮件</h3>
      <p class="mb-0">aportal@shuishan-tech.net</p>
    </div>
    <!-- End Contacts Info -->
  </div>

  <div class="col-sm-6 col-lg-4 u-ver-divider u-ver-divider--none-lg">
    <!-- Contacts Info -->
    <div class="text-center p-5">
      <figure id="icon16" class="svg-preloader ie-height-56 max-width-8 mx-auto mb-3">
        <img class="js-svg-injector" src="<%= url_for('images/icons/icon-16.svg') %>" alt="SVG"
             data-parent="#icon16">
      </figure>
      <h3 class="h6 mb-0">电话</h3>
      <p class="mb-0">400-094-0365</p>
      <p class="mb-0">021-58380092</p>
    </div>
    <!-- End Contacts Info -->
  </div>
</div>
</div>
<!-- End Contacts Info Section -->

</main>
<!-- ========== END MAIN CONTENT ========== -->