 <!-- ========== MAIN CONTENT ========== -->
 <main id="content" role="main">
  <!-- Hero Section -->
  <div class="container space-2 space-top-md-5 space-top-lg-4 space-bottom-lg-1">
    <div class="row justify-content-lg-between mb-7">
      <div class="col-lg-5 mb-7 mb-lg-0">
        <h1 class="h2 font-weight-medium mb-3">流程管理以业务为本</h1>
        <p>
          业务流程管理应该
          <span class="text-primary">
            <strong class="u-text-animation u-text-animation--typing"></strong>
          </span>
          <br>
          借助强大的 APortal，让您的业务流程快速在 Office 365 平台上得以实现。简洁，高效，先进一直是我们的行动准则，以此助力您的企业腾飞。
        </p>

        <div class="d-flex align-items-center flex-wrap">
          <a class="btn btn-primary btn-wide transition-3d-hover mb-2 mb-sm-0 mr-3" href="#">开始使用</a>
          <!-- <a class="btn btn-soft-primary btn-wide transition-3d-hover" href="../pages/login-simple.html">开始使用</a> -->

          <!-- Fancybox -->
          <a class="js-fancybox media align-items-center u-media-player min-width-21 ml-3" href="javascript:;"
             data-src="//vimeo.com/167434033"
             data-speed="700"
             data-animate-in="zoomIn"
             data-animate-out="zoomOut"
             data-caption="Front - Responsive Website Template">
            <span class="u-media-player__icon u-media-player__icon--primary mr-3">
              <span class="fas fa-play u-media-player__icon-inner"></span>
            </span>
            <span class="media-body">
              视频介绍
            </span>
          </a>
          <!-- End Fancybox -->
        </div>
      </div>

      <div class="col-lg-6">
        <!-- SVG Illustration -->
        <figure id="SVGHero" class="svg-preloader ie-hiker-man w-md-75 w-lg-100">
          <img class="js-svg-injector"  width="100%" height="350px" src="images/hiker-man1.svg" alt="Image Description"
               >
        </figure>
        <!-- End SVG Illustration -->
      </div>
    </div>
  </div>
  <!-- End Hero Section -->

  <!-- SVG Top Shape -->
  <figure>
    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="64px"
         viewBox="0 0 1921 273" style="margin-bottom: -8px; enable-background:new 0 0 1921 273;" xml:space="preserve">
      <polygon class="fill-gray-100" points="0,273 1921,273 1921,0 "/>
    </svg>
  </figure>
  <!-- End SVG Top Shape -->

  <!-- Features Section -->
  <div class="bg-light">
    <div class="container">
      <div class="space-2 space-lg-3">
        <div class="row align-items-lg-center">
          <div class="col-lg-7 order-lg-2 mb-7 mb-lg-0">
            <!-- <div class="pr-lg-5"> -->
              <div class="rounded min-height-450 position-relative">
                <div class="card card-frame content-centered-y col my-card">
                  <div class="card-body my-card-body">
                    PS > <span class="card-body-span" id="card-body-span"> Install-Module -Name APortal.PowerShell</span>  
                    <span class="btn-primary btn my-btn" type id="card-body-btn"><i class="fas fa-copy fa-lg"></i></span>
                  </div>
                </div>
              </div>
            <!-- </div> -->
          </div>
  
          <div class="col-lg-5 order-lg-1">
            <div class="mb-5">
              <h2 class="font-weight-medium">安装和使用管理工具</h2>
              <p>使用 PowerShell 包管理工具安装 APortal 管理工具，使用 APortal 管理工具为您的Office 365 网站赋予丰富的 APortal 能力。</p>
            </div>
  
            <!-- List -->
            <div class="row mb-4">
              <div class="col-6">
                <div class="media align-items-center text-secondary mb-3">
                  <img class="mr-2" src="css/images/svg/components/checked-icon.svg" alt="Icon" width="16" height="16">
                  <div class="media-body">
                    在线安装管理工具
                  </div>
                </div>
                <div class="media align-items-center text-secondary mb-3">
                  <img class="mr-2" src="css/images/svg/components/checked-icon.svg" alt="Icon" width="16" height="16">
                  <div class="media-body">
                    在线升级网站资产
                  </div>
                </div>
                <div class="media align-items-center text-secondary mb-3">
                  <img class="mr-2" src="css/images/svg/components/checked-icon.svg" alt="Icon" width="16" height="16">
                  <div class="media-body">
                    一键设置网站
                  </div>
                </div>
              </div>
  
            </div>
            <!-- End List -->
  
            <a class="btn btn-primary transition-3d-hover" href="#">管理工具使用详解 <small class="fas fa-arrow-right ml-1"></small></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Features Section -->

  <!-- SVG Bottom Shape -->
  <figure>
    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="64px"
         viewBox="0 0 1921 273" style="margin-bottom: -8px; enable-background:new 0 0 1921 273;" xml:space="preserve">
      <polygon class="fill-gray-100" points="1921,0 0,0 0,273 "/>
    </svg>
  </figure>
  <!-- End SVG Bottom Shape -->
  <!-- Clients Section -->
<div class="container space-1">
  <div class="mx-lg-auto">
    <div class="text-center mb-4">
      <h2 class="u-divider u-divider--text">荣誉客户</h2>
    </div>
    <!-- Clients Section -->
  <div class="row justify-content-center text-center">
    <div class="col-sm-6 col-md-2 mb-8">
      <img class="u-clients" src="images/collaborator/微软.png" alt="Image Description">
    </div>
    <div class="col-sm-6 col-md-2 mb-8">
      <img class="u-clients" src="images/collaborator/艾默生.png" alt="Image Description">
    </div>
    <div class=" col-md-2 mb-8">
      <img class="u-clients" src="images/collaborator/爱斯达克.png" alt="Image Description">
    </div>
    <div class=" col-md-2 mb-8">
      <img class="u-clients" src="images/collaborator/勃林格.png" alt="Image Description">
    </div>
    <div class=" col-md-2 mb-8">
      <img class="u-clients" src="images/collaborator/东方有线.png" alt="Image Description">
    </div>

    <div class="w-100"></div>

    <div class="col-md-2 mb-8">
      <img class="u-clients" src="images/collaborator/固铂.png" alt="Image Description">
    </div>
    <div class="col-md-2 mb-8">
      <img class="u-clients" src="images/collaborator/国泰君安.png" alt="Image Description">
    </div>
    <div class="col-md-2 mb-8">
      <img class="u-clients" src="images/collaborator/环球港.png" alt="Image Description">
    </div>
    <div class="col-md-2 mb-8">
      <img class="u-clients" src="images/collaborator/科锐.png" alt="Image Description">
    </div>

    <div class="w-100"></div>

    <div class="col-md-2 mb-8">
      <img class="u-clients" src="images/collaborator/联通.png" alt="Image Description">
    </div>
    <div class="col-md-2 mb-8">
      <img class="u-clients" src="images/collaborator/罗盖特.png" alt="Image Description">
    </div>
    <div class="col-md-2 mb-8">
      <img class="u-clients" src="images/collaborator/罗氏.png" alt="Image Description">
    </div>
    <div class="col-md-2 mb-8 mb-md-0">
      <img class="u-clients" src="images/collaborator/强生.png" alt="Image Description">
    </div>
    <div class="col-md-2 mb-8 mb-md-0">
      <img class="u-clients" src="images/collaborator/日立.png" alt="Image Description">
    </div>

    <div class="w-100"></div>

    <div class="col-md-2 mb-8">
      <img class="u-clients" src="images/collaborator/上海电气.png" alt="Image Description">
    </div>
    <div class="col-md-2 mb-8">
      <img class="u-clients" src="images/collaborator/斯凯.png" alt="Image Description">
    </div>
    <div class="col-md-2 mb-8">
      <img class="u-clients" src="images/collaborator/新世界百货.png" alt="Image Description">
    </div>
    <div class="col-md-2 mb-8">
      <img class="u-clients" src="images/collaborator/浙大网新.png" alt="Image Description">
    </div>

    <div class="w-100"></div>

    <div class="col-md-2 mb-8 mb-md-0">
      <img class="u-clients" src="images/collaborator/中软.png" alt="Image Description">
    </div>
    <div class="col-md-2 mb-8 mb-md-0">
      <img class="u-clients" src="images/collaborator/brother.png" alt="Image Description">
    </div>
    <div class="col-md-2 mb-8 mb-md-0">
      <img class="u-clients" src="images/collaborator/LVMH.png" alt="Image Description">
    </div>
    <div class="col-md-2 mb-8 mb-md-0">
      <img class="u-clients" src="images/collaborator/k11.png" alt="Image Description">
    </div>
    <div class="col-md-2 mb-8 mb-md-0">
      <img class="u-clients" src="images/collaborator/ecm.png" alt="Image Description">
    </div>
  </div>
  
<!-- End Clients Section -->
  </div>
</div>

<!-- End Clients Section -->
</main>
<!-- ========== END MAIN CONTENT ========== -->