 <!-- ========== MAIN CONTENT ========== -->
 <main id="content" role="main">
  <!-- Hero Section -->
  <div class="container space-2 space-top-md-5 space-top-lg-4 space-bottom-lg-3">
    <div class="row justify-content-lg-between mb-7">
      <div class="col-lg-5 mb-7 mb-lg-0">
        <!-- Info -->
        <div class="mb-5">
          <h1 class="h2 font-weight-medium mb-3">Build awesome apps with your web dev skills.</h1>
          <p>Built on standard web technology, teams use Front to build beautiful cross-platform hybrid apps in a fraction of the time.</p>
        </div>

        <div class="mb-3">
          <a class="btn btn-primary btn-wide transition-3d-hover mb-2 mb-sm-0 mr-3" href="#">Get Started</a>
          <a class="btn btn-outline-primary btn-wide transition-3d-hover mb-2 mb-sm-0" href="#">Let's Talk</a>
        </div>

        <p class="small">Start free trial. * No credit card required.</p>
        <!-- End Info -->
      </div>

      <div class="col-lg-6">
        <!-- SVG Illustration -->
        <figure id="SVGHero" class="svg-preloader ie-hiker-man w-md-75 w-lg-100">
          <img class="js-svg-injector" src="css/images/svg/illustrations/hiker-man.svg" alt="Image Description"
               data-parent="#SVGHero">
        </figure>
        <!-- End SVG Illustration -->
      </div>
    </div>

    <!-- Clients -->
    <div class="row justify-content-between text-center">
      <div class="col-4 col-lg-2 mb-5 mb-lg-0">
        <div class="mx-4">
          <img class="u-clients" src="css/images/svg/clients-logo/boring-company.svg" alt="Image Description">
        </div>
      </div>
      <div class="col-4 col-lg-2 mb-5 mb-lg-0">
        <div class="mx-4">
          <img class="u-clients" src="css/images/svg/clients-logo/netflix.svg" alt="Image Description">
        </div>
      </div>
      <div class="col-4 col-lg-2 mb-5 mb-lg-0">
        <div class="mx-4">
          <img class="u-clients" src="css/images/svg/clients-logo/fitbit.svg" alt="Image Description">
        </div>
      </div>
      <div class="col-4 col-lg-2">
        <div class="mx-4">
          <img class="u-clients" src="css/images/svg/clients-logo/google.svg" alt="Image Description">
        </div>
      </div>
      <div class="col-4 col-lg-2">
        <div class="mx-4">
          <img class="u-clients" src="css/images/svg/clients-logo/airbnb.svg" alt="Image Description">
        </div>
      </div>
      <div class="col-4 col-lg-2">
        <div class="mx-4">
          <img class="u-clients" src="css/images/svg/clients-logo/uber.svg" alt="Image Description">
        </div>
      </div>
    </div>
    <!-- End Clients -->
  </div>
  <!-- End Hero Section -->

  <!-- SVG Top Shape -->
  <figure>
    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="64px"
         viewBox="0 0 1921 273" style="margin-bottom: -8px; enable-background:new 0 0 1921 273;" xml:space="preserve">
      <polygon class="fill-gray-100" points="0,273 1921,273 1921,0 "/>
    </svg>
  </figure>
  <!-- End SVG Top Shape -->

  <!-- Features Section -->
  <div class="bg-light">
    <div class="container space-2 space-lg-3">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <span class="d-block text-secondary font-size-1 font-weight-medium text-uppercase mb-2">Our Features</span>
        <h2 class="font-weight-medium">Front makes designing easy and performance fast</h2>
      </div>
      <!-- End Title -->

      <div class="row">
        <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
          <!-- Nav -->
          <ul class="nav nav-box" role="tablist">
            <li class="nav-item w-100 mx-0 mb-3">
              <a class="nav-link p-4 active" id="pills-one-code-features-tab" data-toggle="pill" href="#pills-one-code-features" role="tab" aria-controls="pills-one-code-features" aria-selected="true">
                <div class="media">
                  <figure id="icon45" class="svg-preloader ie-height-56 w-100 max-width-8 mt-2 mr-4">
                    <img class="js-svg-injector" src="../../assets/svg/icons/icon-45.svg" alt="SVG"
                         data-parent="#icon45">
                  </figure>
                  <div class="media-body">
                    <h3 class="h6">Easy &amp; fast designing</h3>
                    <p class="mb-0">You can work with your existing website or create new pages on Front.</p>
                  </div>
                </div>
              </a>
            </li>

            <li class="nav-item w-100 mx-0 mb-3">
              <a class="nav-link p-4" id="pills-two-code-features-tab" data-toggle="pill" href="#pills-two-code-features" role="tab" aria-controls="pills-two-code-features" aria-selected="false">
                <div class="media">
                  <figure id="icon23" class="svg-preloader ie-height-56 w-100 max-width-8 mt-2 mr-4">
                    <img class="js-svg-injector" src="../../assets/svg/icons/icon-23.svg" alt="SVG"
                         data-parent="#icon23">
                  </figure>
                  <div class="media-body">
                    <h4 class="h6">Powerful features</h4>
                    <p class="mb-0">Easily draft, change, customize and launch new course pages.</p>
                  </div>
                </div>
              </a>
            </li>

            <li class="nav-item w-100 mx-0">
              <a class="nav-link p-4" id="pills-three-code-features-tab" data-toggle="pill" href="#pills-three-code-features" role="tab" aria-controls="pills-three-code-features" aria-selected="false">
                <div class="media">
                  <figure id="icon44" class="svg-preloader ie-height-56 w-100 max-width-8 mt-2 mr-4">
                    <img class="js-svg-injector" src="../../assets/svg/icons/icon-44.svg" alt="SVG"
                         data-parent="#icon44">
                  </figure>
                  <div class="media-body">
                    <h4 class="h6">Advanced HTML/CSS editing</h4>
                    <p class="mb-0">With Front, you or your team can modify any aspect of your website.</p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
          <!-- End Nav -->
        </div>

        <div class="col-lg-7 order-lg-1 align-self-lg-end">
          <!-- Tab Content -->
          <div class="tab-content pr-lg-4">
            <div class="tab-pane fade show active" id="pills-one-code-features" role="tabpanel" aria-labelledby="pills-one-code-features-tab">
              <!-- SVG Mockups -->
              <figure id="SVGlaptopAndIphoneID1" class="svg-preloader ie-laptop-and-iphone">
                <img class="js-svg-injector" src="../../assets/svg/components/laptop-and-iphone.svg" alt="Image Description"
                     data-img-paths='[
                       {"targetId": "#SVGlaptopAndIphoneImg1", "newPath": "../../assets/img/1618x1010/img2.jpg"},
                       {"targetId": "#SVGlaptopAndIphoneImg2", "newPath": "../../assets/img/282x500/img8.jpg"}
                     ]'
                     data-parent="#SVGlaptopAndIphoneID1">
              </figure>
              <!-- End SVG Mockups -->
            </div>

            <div class="tab-pane fade" id="pills-two-code-features" role="tabpanel" aria-labelledby="pills-two-code-features-tab">
              <div class="shadow-sm rounded">
                <img class="img-fluid rounded-lg" src="../../assets/img/1618x1010/img3.jpg" alt="Image Description">
              </div>
            </div>

            <div class="tab-pane fade" id="pills-three-code-features" role="tabpanel" aria-labelledby="pills-three-code-features-tab">
              <!-- SVG Laptop Mockup -->
              <figure id="SVGlaptopAndIphoneID2" class="svg-preloader ie-laptop-and-iphone">
                <img class="js-svg-injector" src="../../assets/svg/components/laptop-and-iphone.svg" alt="Image Description"
                     data-img-paths='[
                       {"targetId": "#SVGlaptopAndIphoneImg1", "newPath": "../../assets/img/1618x1010/img1.jpg"},
                       {"targetId": "#SVGlaptopAndIphoneImg2", "newPath": "../../assets/img/282x500/img7.jpg"}
                     ]'
                     data-parent="#SVGlaptopAndIphoneID2">
              </figure>
              <!-- SVG Laptop Mockup -->
            </div>
          </div>
          <!-- End Tab Content -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Features Section -->

  <!-- SVG Bottom Shape -->
  <figure>
    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="64px"
         viewBox="0 0 1921 273" style="margin-bottom: -8px; enable-background:new 0 0 1921 273;" xml:space="preserve">
      <polygon class="fill-gray-100" points="1921,0 0,0 0,273 "/>
    </svg>
  </figure>
  <!-- End SVG Bottom Shape -->

</main>
<!-- ========== END MAIN CONTENT ========== -->