<!-- ========== FOOTER ========== -->
<footer class="container text-center space-2">
  <!-- Logo -->
  <img src="<%= url_for('images/Aportal.svg')%>" alt="" width="150px" height="80px">
  <!-- End Logo -->

  <p class="small text-muted mb-0">2012-2019 shuishan-tech.com. All rights reserved.</p>
</footer>
<!-- ========== END FOOTER ========== -->