<!-- ========== FOOTER ========== -->
<footer class="container text-center space-2">
  <!-- Logo -->
  <img src="<%= url_for('images/Aportal.svg')%>" alt="" width="150px" height="80px">
  <!-- End Logo -->
  <p class="small text-muted mb-0">2012-2020 shuishan-tech.com. All rights reserved.</p>
  <p class="small text-muted mb-0">地址：上海市浦东新区新金桥路 1122 号 2311 室 邮编：201206</p>
  <p class="small text-muted mb-0"><a href="http://www.beian.miit.gov.cn/" target="_blank" class="text">沪ICP备12020978号-2<br></a></p>
</footer>
<!-- ========== END FOOTER ========== -->