.my-card-body{
    height: 54px;
    padding: 0;
    display: flex;
    align-items: center;
}
.my-card-body .my-btn{
    height: 54px;
    width: 54px;
    margin-left: auto;
    border-radius: 0;
    border-top-right-radius: .3125rem;
    border-bottom-right-radius: .3125rem;
}
.my-card{
    padding-right: 0;
}
.card-body-span{
    padding-left: 5px;
}

.highlight {
    background: #eee;
    padding: 10px 15px;
    color: #4d4d4c;
    overflow: auto;
    margin: 1.5rem 0 !important;
}

.docstitle::before {
    content: "|";
    display: block;
    font-size: 24px;
    font-weight: normal;
    margin-left: -10px;
    position: absolute;
    top: 12px;
}
.navbar-brand-center{
    justify-content: center;
}
.main_header_img{
    background:url('../images/Aportal.svg');
	background-size:100% 100%;
    background-repeat:no-repeat;
    width:150px ;
    height:80px;
}
.mian-header:not(.js-header-fix-moment) .main_header_img{
    background-image:url('../images/Aportal\(white\).svg');
}
.bg-navy {
    background-color: #21325b!important;
}